# Работа с Excel

Материалы:
* Макрушин С.В. Лекция 7: Работа с Excel
* https://docs.xlwings.org/en/stable/quickstart.html
* https://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/xlwings/Excel_Formatting.ipynb#search_text

## Задачи для совместного разбора

1. На листе "Рецептура" файла `себестоимостьА_в1.xlsx` для области "Пшеничный хлеб" рассчитать себестоимость всех видов продукции.

2. Результаты расчетов 1.1 сохранить в отдельном столбце области "Пшеничный хлеб"

3. Приблизить форматирование столбца, добавленного в задаче 2 к оформлению всей области.

4. Выполнить 3 с помощью "протягиваемых" формул.

## Лабораторная работа 7.1

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [8]:
import pandas as pd
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv', index_col=0)
recipes = recipes.drop(columns=['contributor_id', 'n_steps'])
recipes

,name,id,minutes,submitted,description,n_ingredients
0,george s at the cove black bean soup,44123,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

In [2]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [73]:
import numpy as np
reviews_index_list=sorted(list(set(list(reviews.index.values))))
list_len=len(reviews_index_list)
reviews_index_list=sorted([reviews_index_list[np.random.randint(list_len)] for i in range(int(list_len*0.05))])
reviews1=pd.DataFrame()
for j in list(reviews.columns.values):
    reviews1[j]=list(reviews.loc[reviews.index.values == i, j].iloc[0] for i in reviews_index_list)
reviews1

,user_id,recipe_id,date,rating,review
0,227978,426090,2017-08-15,5,This was an excellent way to prepare green bea...
1,125356,77001,2012-01-16,5,To dye for!
2,424680,99672,2008-02-21,5,Here's a nice way to put everything in the sam...
3,1470474,306351,2009-12-03,0,This is just like we had in Israel. I used ha...
4,60575,70671,2004-01-10,5,Delicious and very easy to prepare. I decided...
...,...,...,...,...,...
6329,498271,117191,2008-01-17,5,Absolutely delicious! The thing that caught m...
6330,1179225,433203,2015-10-24,5,Total keeper recipe. Thanks for sharing.
6331,172369,124136,2006-02-28,5,Thank you Kitten for another great recipe. My ...
6332,11176,103587,2007-05-17,5,"Aileen, this is fantastic sauce! I was making ..."
6333,1963163,451490,2015-05-23,5,Just made this for the first time today. This ...

In [72]:
recipes_index_list=sorted(list(set(list(recipes.index.values))))
list_len=len(recipes_index_list)
recipes_index_list=sorted([recipes_index_list[np.random.randint(list_len)] for i in range(int(list_len*0.05))])
recipes1=pd.DataFrame()
for j in list(recipes.columns.values):
    recipes1[j]=list(recipes.loc[recipes.index.values == i, j].iloc[0] for i in recipes_index_list)
recipes1

,name,id,minutes,submitted,description,n_ingredients
0,5 minute bread pizza,487173,45,2012-09-19,my son recently showed me a recipe for artisan...,8.0
1,goulashy beef stew for the slow cooker,216068,430,2007-03-10,noodle beef stew in the slow cooker...easy com...,13.0
2,mcgriddle pancakes breakfast sandwich,134085,15,2005-08-20,"these are so great as pancakes, but even bette...",NaN
3,15 layer russian honey cake,115160,75,2005-04-04,"i recently tried a russian honey cake, which w...",NaN
4,3 meat stromboli,423528,85,2010-05-06,this recipe is a taste of home spin off with a...,NaN
...,...,...,...,...,...,...
1495,zucchini cheese soup a k a vache qui rit soup,246497,20,2007-08-14,this is a children's favourite in france and h...,6.0
1496,zucchini nut salad,178243,30,2006-07-18,a summertime favorite of ours and a good way t...,6.0
1497,zucchini sausage lasagna,130124,80,2005-07-18,this is from taste of home. my family absolute...,17.0
1498,zucchini stuffed with goat cheese and mint,130447,30,2005-07-19,this was past on to me by a gentleman friend w...,10.0
1499,zucchini pineapple loaf cake,71450,70,2003-09-15,i got this recipe from a local paper a long ti...,NaN

In [76]:
import xlwings as xw
wb=xw.Book()
sht1 = wb.sheets.add(name = "Рецепты", after = wb.sheets[0].name)
sht2 = wb.sheets.add(name = "Отзывы", after = wb.sheets[1].name)
sht1.range('A1').value = recipes1
sht2.range('A1').value = reviews1

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [84]:
sht1.range('H1').options(ndim=1).value=['seconds_assign']
sht1.range('H2').options(transpose = True).value=list(map(lambda x: x*60, sht1.range('D2').expand('down').value))

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [85]:
sht1.range('I1').options(ndim=1).value=['seconds_formula']
fml = xw.Range('I2').formula = f'=D2*60'
xw.Range('I2:I1501').formula = fml

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [88]:
sht1['H1:I1'].font.bold = True
sht1.range('H1:I1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [146]:
sht1.activate()
a=sht1.range('D2:D1501').value
k=1
for i in a:
    k+=1
    if i<5:
        xw.Range((k, 4)).color = (0, 255, 0)
    elif 5<=i<=10:
        xw.Range((k, 4)).color = (255, 255, 0)
    else:
        xw.Range((k, 4)).color = (255, 0, 0)

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [134]:
sht2.range('G1').options(ndim=1).value=['n_reviews']
sht2.range('G2').value = '=COUNTIF($C$2:$C$1501, C2)'
sht2.range('G2:G1501').value = '=COUNTIF($C$2:$C$1501, C2)'

In [145]:
sht1.range('J1').options(ndim=1).value=['n_reviews']
sht1.range('J2').value = '=vlookup(C2, Отзывы!$C$2:$K$1501, 5, False)'
sht1.range('J2:J1501').value = '=vlookup(C2, Отзывы!$C$2:$K$1501, 5, False)'

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [158]:
sht2.activate()
# def validate():
rating_bool_list=[]
recipe_bool_list=[]
for i in reviews1['rating']:
    if 0<=i<=5:
        rating_bool_list.append(1)
    else:
        rating_bool_list.append(0)
for i in reviews1['recipe_id']:
    recipe_bool_list.append(len(recipes1[recipes1['id']==i]))
bool_list=[i*j for i,j in zip(rating_bool_list,recipe_bool_list)]
for i in range(len(bool_list)):
    if bool_list[i]==0:
        for j in range(1, 8):
            xw.Range((i+2, j)).color = (255, 0, 0)

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [184]:
import itertools

for i in itertools.groupby([[1, 2, 3], [4, 5, 6], [7, 8, 9]]):
    print(i[0])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)